nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 50, 47);
  height: 60px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: .5rem 1rem;
  font-weight: bold;
}

nav a:hover {
  color: #aaa;
  transition: all .2s ease;
}

nav a svg {
  margin-right: .25rem;
}
