nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 216, 197);
  padding: .5rem 0;
}

nav a {
  color: #444;
  text-decoration: none;
  padding: .5rem 1rem;
  font-weight: bold;
}

nav a:hover {
  color: #999;
  transition: all .2s ease;
}

nav a svg {
  margin-right: .25rem;
}
